.item1 { grid-area: Header; }
.item2 { grid-area: Side; }
.item3 { grid-area: Right1; }


.grid-container {
    display: grid;
    grid-template-areas: 
    'Header Header Header'
    'Side Right1 Right1'
    ;

    width: 500px;
    height: 300px;
    background-color: cadetblue;
}

#headerp{
    margin-top: 15%;
    font-size: 200%;
    color: rgb(10, 71, 33);
    background-color: rgba(122, 219, 163, 0.493);
    width: 50%;
    margin-left: 25%;
}
.item1 {
    text-align: center;
    border: 3px solid;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGJkOHd2dngzZDV4bmoyaWplamhzNzlrcjQ4M3RpOWs1OHVzMXQ0MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2wicMBKqNZlrW/giphy.webp);
}
.item2 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border: 3px solid;
}
.item3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid;
}
